In [17]:
import pandas as pd
from pandas import DataFrame

df=pd.read_csv("easy_show.csv",encoding='latin1')

# Concatenate Columns with different Types in a DF

## Transform all colums into a list

<font color = 'purple'> **Transform the ints into strings first**

In [10]:
lst1 = list(df['House Number'].apply(str))
lst2 = list(df['Compass'].apply(str))
lst3 = list(df['Street Name'])
lst4 = list(df['St Suffix'])

## Use <font color = "green"> for loop, range <font color = "black">and <font color = "green"> len <font color = "black"> function to concatenate everything a<font color = "green"> single list

In [11]:
address_lst = []
for i in range(0,len(lst1)):
    address = lst1[i] + ' ' + lst2[i] + ' ' + lst3[i] + ' ' + lst4[i]
    address_lst.append(address)

## Covert that list into a <font color = "green"> dataframe

In [12]:
address_df = pd.DataFrame(address_lst,columns=['Address'])

## Concatenate two dataframes back into one

In [13]:
df_new = pd.concat([df, address_df], axis=1, sort=False)
df_new.head(2)

,List Number,Agency Name,Agency Phone,Listing Agent,Co-Listing Agent,Property Type,Card Format,Book Section,Selling Agency,Selling Agent,...,Off Market Date,Cross Street,Subdivision,Dwelling Styles,On Market Date,Photo URL,Days on Market,Rooms,Features,Address
0,6073839,Casa Mia Realty (cmia01),(480) 283-7143,Doris Ramos,NaN,Residential,Residential,Single Family - Detached,NaN,NaN,...,NaN,Miller Rd & McKellips Rd,MY-O-MY ESTATES 2,Detached,NaN,http://photos.flexmls.com/az/20200505055057816...,42,NaN,Association & Fees|HOA Y/N|N;Association & Fee...,1244 E SUSAN LN
1,6063111,Realty Executives (reax26),(480) 963-6000,Mo Yaw,Courtney Yaw,Residential,Residential,Single Family - Detached,NaN,NaN,...,NaN,MILL & SOUTHERN,NU-VISTA 4 LOTS 196-258,Detached,NaN,http://photos.flexmls.com/az/20200407132351975...,50,NaN,Association & Fees|Rec Center Fee Y/N|N;Associ...,201 E GENEVA DR

# How to show all column names

In [19]:
for i in df_new.columns:
    print (i)

List Number
Agency Name
Agency Phone
Listing Agent
Co-Listing Agent
Property Type
Card Format
Book Section
Selling Agency
Selling Agent
Co-Selling Agent
End Date
Dwelling Type
List Date
Close of Escrow Date
Under Contract Date
Fallthrough Date
Status
Status Change Date
Temp Off Market Date
Cancel Date
UCB or CCBS
Original List Price
List Price
Sold Price
Price/SqFt
Map Code/Grid
House Number
Bldg Number
Compass
Street Name
Unit #
St Dir Sfx
St Suffix
Sub Agent $/%
City/Town Code
State/Province
County Code
Country
Zip Code
Geo Lat
Geo Lon
Approx SQFT
Bedrooms Plus
Year Built
Buyer Broker $/%
Apx Lot Size Range
Buyer/Broker
Subagents
Variable Commission
# Bedrooms
# Bathrooms
# of Interior Levels
Exterior Stories
Source Apx Lot SqFt
Pool
Taxes
Tax Year
Legal Description (Abbrev)
Public Remarks
Private Rmks - DND2
Assessor Number
Legal
Directions
Ownr/Occ Name - DND2
Owner/Occ Phn - DND2
Marketing Name
Builder Name
mod_timestamp
Assessor Parcel Ltr
Out of Area Schl Dst
Source of SqFt
Tax Municipality
Auction
Horses
Ownership
Hundred Block
Type
Elementary School
Jr. High School
High School
Elem School Dist #
High School Dist #
Model
Approx SqFt Range
Hndrd Blk Directionl
Zip4
Week Avail Timeshare
Comp to Subagent
Comp to Buyer Broker
Other Compensation
Guest House SqFt
Approx Lot SqFt
Assessor's Book #
Assessor's Map #
Assessor's Parcel #
Off Market Date
Cross Street
Subdivision
Dwelling Styles
On Market Date
Photo URL
Days on Market
Rooms
Features
Address

# Convert Pandas DF to dictionary (for each row)

In [21]:
df_long_lat = df_new[['Geo Lat','Geo Lon']]
df_price = df_new[['List Price']]
house = pd.concat([df_long_lat, df_price], axis=1, sort=False)
house.head(2)

     Geo Lat     Geo Lon  List Price
0  33.447479 -111.918377      319900
1  33.394776 -111.936551      350000

In [22]:
house_dict = house.to_dict(orient= 'records')

In [23]:
house_dict

[{'Geo Lat': 33.447479, 'Geo Lon': -111.918377, 'List Price': 319900},
 {'Geo Lat': 33.394776, 'Geo Lon': -111.936551, 'List Price': 350000},
 {'Geo Lat': 33.418234000000005,
  'Geo Lon': -111.89370600000001,
  'List Price': 299900},
 {'Geo Lat': 33.412405, 'Geo Lon': -111.93626100000002, 'List Price': 650000},
 {'Geo Lat': 33.369314, 'Geo Lon': -111.907486, 'List Price': 379000},
 {'Geo Lat': 33.454991, 'Geo Lon': -111.93183400000001, 'List Price': 422500},
 {'Geo Lat': 33.376458, 'Geo Lon': -111.90231299999999, 'List Price': 350000},
 {'Geo Lat': 33.421374, 'Geo Lon': -111.95948999999999, 'List Price': 379500},
 {'Geo Lat': 33.33829, 'Geo Lon': -111.94040600000001, 'List Price': 400000},
 {'Geo Lat': 33.329929, 'Geo Lon': -111.91629499999999, 'List Price': 695000},
 {'Geo Lat': 33.369894, 'Geo Lon': -111.95364099999999, 'List Price': 339900},
 {'Geo Lat': 33.405248, 'Geo Lon': -111.931293, 'List Price': 529999},
 {'Geo Lat': 33.402158, 'Geo Lon': -111.904604, 'List Price': 424900},
 {'Geo Lat': 33.397014, 'Geo Lon': -111.88578799999999, 'List Price': 383000},
 {'Geo Lat': 33.348559, 'Geo Lon': -111.915218, 'List Price': 685000},
 {'Geo Lat': 33.371412, 'Geo Lon': -111.931789, 'List Price': 499800},
 {'Geo Lat': 33.396951, 'Geo Lon': -111.937054, 'List Price': 350000},
 {'Geo Lat': 33.427377, 'Geo Lon': -111.956108, 'List Price': 230500},
 {'Geo Lat': 33.362857, 'Geo Lon': -111.914679, 'List Price': 275000},
 {'Geo Lat': 33.32537, 'Geo Lon': -111.928604, 'List Price': 460000},
 {'Geo Lat': 33.347786, 'Geo Lon': -111.931776, 'List Price': 749000}]